.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-login-grid {
  padding: 3rem 2rem;
  text-align: start;
}
